<h1>{{ title }}</h1>
<img src="/images/logo.png" alt="Application Logo" class="center">

{{> header }}
<h4>Select Tax Return to Delete</h4>
<ul>
    {{# each taxList }}
        <li><!-- {{ key }}: --><a href="/taxes/destroy?key={{ key }}">{{ title }}</a></li>
    {{/ each }}
</ul>