<body class="d-flex flex-column min-vh-100">
    <div class="mt-auto"></div>
    <footer class="align-text-bottom text-center">
        <div>
            Copyright © 2020 Saif Alsukhni
        </div>
    </footer>
</body>