<header>

    <div class="navbar">
        <p>
            <a href="/">Home</a> |
            <a href="/taxes/all">View All</a> |
            <a href="/taxes/add">Add Tax Info</a>
        </p>
    </div>
</header>