<header>

    <div class="navbar">
        <p>
            <a href="/">Home</a> |
            <a href="/taxes/all">View All</a> |
            <a href="/taxes/add">Add Tax Info</a> |
            <a href="/taxes/edit_tax_menu">Edit Tax Info</a> |
            <a href="/taxes/destroy_tax">Delete Tax Info</a>

        </p>
    </div>
</header>