<header>
    <nav class="navbar navbar-expand-sm navbar-dark" style="background-color: #103154;">
        <a class="navbar-brand" href="/"><i data-feather="home"></i></a>
        <button class="navbar-toggler" type="button"
                data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle Navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <span class="navbar-text col text-left">{{ title }}</span>
            <a class="nav-item nav-link btn btn-outline-light col-auto" href="/taxes/all">View All</a>
            <a class="nav-item nav-link btn btn-outline-light col-auto" href="/taxes/add">Add Tax Info</a>
        </div>
    </nav>
</header>