<div class="container-fluid my-2">
    <div class="card text-white mx-auto pb-0 pt-2" style="max-width: 25rem">
        <h4>Change Password</h4>
    </div>
</div>

<div class="container-fluid">
    {{> user_messages}}
</div>

<form method="post", action="/users/passwordChange">
    <div class="container-fluid">
        <div class="form-group row justify-content-center">
            <label class="col-form-label col-sm-1 text-left font-weight-bold" for="password">Password: </label>
            <div class="col-md-3">
                <input class="form-control" id="password" type="password" name="password" placeholder="Current password" required/>
            </div>
            <div class="col-sm-1"></div>
        </div>

        <div class="form-group row justify-content-center">
            <label class="col-form-label col-sm-1 text-left font-weight-bold" for="newPassword">New Password: </label>
            <div class="col-md-3">
                <input class="form-control" id="newPassword" type="password" name="newPassword" placeholder="New password" minlength="10" required/>
            </div>
            <div class="col-sm-1"></div>
        </div>

        <div class="form-group row justify-content-center">
            <input class="btn btn-outline-light" type="submit" value="Submit">
        </div>
    </div>
</form>