<img src="/assets/images/logo.png" alt="Application Logo" class="img-fluid center">

<h4>Select Tax Return to View</h4>

<div class="container-fluid">
    <div class="row row-cols-8 justify-content-center">
        <div class="col-8 col-md-3 btn-group-vertical" role="group">
            {{# each taxList }}
                <a class="my-1 btn btn-lg btn-block btn-outline-light"
                   href="/taxes/view?id={{ id }}">{{ taxTitle }}</a>
            {{/ each }}
        </div>
    </div>
</div>